* {
  border: 0;
  padding: 0;
  margin: 0;
}

div {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-family: "Courier New", monospace;
  width: 100%;
  height: 100vh;
}

h2 {
  font-size: 60px;
  background-color: #eee;
  padding: 8px 24px;
  border-radius: 16px;
}

div:nth-child(1) {
  background-image: url('./img/img2.jpg');
  background-size: cover;
}

div:nth-child(2) {
  background-color: maroon;
}

div:nth-child(3) {
  height: 400px;
  background: url('./img/img1.jpg') fixed;
  background-size: cover;
}

div:nth-child(4) {
  background: aquamarine;
}