.navbar {
    text-shadow: 2px 2px #1b1e21;
}

body {
    font-family: 'lato', sans-serif;
}

header {
    line-height: 0.95em;
}

.komay-header {
    width: 100vw;
    height: 100vh;
    background-image: url("/images/komay_glasses.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: rgb(28, 28, 28);
    color: white;
}

.komay-a-tribute-to {
    font-size: 2em;
    font-weight: 300;
    font-style: italic;
    color: #bbb;
    text-align: left;
    padding-top: 70px;
    text-shadow: 1px 1px black;
}

.down-indicator {
    position: absolute;
    opacity: 0.20;
    left: 50%;
    bottom: 10%;
    cursor: pointer;
}

header h1 {
    font-size: 7em;
    letter-spacing: 7px;
    font-weight: 100;
    color: white;
    text-shadow: 1px 1px black;
    padding-top: 10px;
}

body {
    background: #1d2124 linear-gradient(to bottom right, #1b1e21, #383d41);
    color: white;
}

.komay-eyes {
    max-width: 400px;
    float: left;
    border-radius: 50px;
}

.patrycja-matt-komay {
    max-width: 400px;
    float: right;
    border-radius: 50px;
}

.komay-balcony {
    max-width: 400px;
    float: right;
    border-radius: 50px;
}

footer {
    color: #c6c8ca;
}