.login-body {
    text-align: center;
    position: relative;
    background-image: linear-gradient(to bottom left, #0febeb, #66ff66);
    background-size: 100vw 200vh;
    animation: background 3s linear alternate infinite;
}

.login-form {
    margin-top: 100px;
}

.login-card {
    max-width: 350px;
    margin: 200px auto 150px;
    background: rgba(213,215,222,0.2);
}

.login-card .card-header {
    color: #0c5460;
}

.login-sub-options {
    color: #6c757d;
}

.login-sub-options a {
    color: #138496;
}

@media (max-height: 600px) {
    .login-card {
        margin: 50px auto 0;
    }
}